{% extends 'base.html.twig' %}

{% block title %}Hello ReponseController!{% endblock %}

{% block body %}

  {% for reponse in app.flashes('success') %}
    <div class="alert alert-success m-3">
      {{ reponse }}
    </div>
  {% endfor %}

  <div class="m-5">
    {% include 'reponse/_reponseForm.html.twig' with {
      form: editForm,
      labelButton: 'Modifier ma réponse'
    } %}  </div>
    
{% endblock %}

