{% extends 'base.html.twig' %}

{% block title %}Bienvenue à l'admnistration{% endblock %}

{% block body %}
<ul>
  <li>
    <a href="{{path('a_users')}}" > liste des utilisateurs</a>
  </li>
  <li>
    <a href="{{path('reporting_questions')}}" > Questions on FIRE</a>
  </li>
  <li>
    <a href="{{path('reporting_reponses')}}" > Réponses on FIRE</a>
  </li>
</ul>
{% endblock %}
