{% extends 'base.html.twig' %}

{% block title %}Bienvenue à l'admnistration{% endblock %}

{% block body %}

<a href="{{path('a_users')}}" > liste des utilisateurs</a>
<a href="{{path('')}}" > Questions on FIRE</a>
<a href="{{path('')}}" > Réponss on FIRE</a>
{% endblock %}
